

@import url('https://fonts.googleapis.com/css2?family=Yesteryear:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap'); */



@tailwind base;
@tailwind components;
@tailwind utilities;

